section {
	margin-bottom: 0.8em;
	display: flex;
	flex-direction: column;
	align-items: start;
}

section > h2 {
	font-size: 1em;
	margin: 0.6em 0;
}

#commandOrder {
	display: grid;
	grid-template-columns: repeat(6, auto);
	row-gap: 4px;
	align-items: center;
	margin: 6px 0;
}

:root.no-shortcut-support #commandOrder {
	grid-template-columns: repeat(5, auto);
}

#commandOrder:not(.hasCommand) #commandOrderHeader {
	display: none;
}

.command, #commandOrderHeader {
	display: contents;
}

#commandOrderHeader span {
	text-align: center;
}

#actionsHeader {
	grid-column: auto / span 3;
}

.command button {
	height: 2em;
	width: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.command button img, #add img {
	height: 1.2em;
	width: 1.2em;
}

.command.singleRelation .positionSelect {
	opacity: 0.4;
}

.gap-left {
	margin-left: 12px;
}

#add {
	display: flex;
	align-items: center;
	justify-content: center;
}

#add label {
	margin-left: 0.5em;
}

.middle-aligned > * {
	vertical-align: middle;
}

:root.no-shortcut-support .shortcut-support {
	display: none !important;
}

:root:not(.no-shortcut-support) #shortcutCompatibilityNote {
	display: none;
}

#shortcuts-customize-ui .shortcut {
	align-items: center;
}

#shortcuts-customize-ui .key-combination, #shortcuts-customize-ui .key-combination > label {
	display: flex;
	align-items: center;
}

#shortcuts-customize-ui .shortcut > label:first-of-type {
	margin-inline-end: 4ch;
}