#commandOrderSection {
	display: flex;
	flex-direction: column;
	align-items: left;
}

#commandOrder {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-row-gap: 4px;
	align-items: center;
	margin: 6px 0;
}

#commandOrder:not(.hasCommand) #commandOrderHeader {
	display: none;
}

.command, #commandOrderHeader {
	display: contents;
}

#commandOrderHeader span {
	text-align: center;
}

#actionsHeader {
	grid-column: 3 / span 3;
}

.command button {
	height: 2em;
	width: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.command button:first-of-type {
	margin-left: 4px;
}

.command button:last-of-type {
	margin-right: 12px;
}

.command button img, #add img {
	height: 1.2em;
	width: 1.2em;
}

.command.singleRelation .positionSelect {
	opacity: 0.4;
}

#add {
	display: flex;
	align-items: center;
	justify-content: center;
}

#add label {
	margin-left: 0.5em;
}

.middle-aligned > * {
	vertical-align: middle;
}